alembic==0.8.2
decorator==4.0.2
Flask==0.10.1
Flask-Login==0.3.0
Flask-Migrate==1.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-WTF==0.12
IPy==0.83
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.2
MarkupSafe==0.23
MySQL-python==1.2.5
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
python-editor==0.4
simplegeneric==0.8.1
SQLAlchemy==1.0.8
traitlets==4.0.0
Werkzeug==0.10.4
wheel==0.24.0
WTForms==2.0.2
